<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Tab Information -->
    <title>HungrYo!</title>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <!-- Mobile Navigation -->
    <div class="mobile-menu">
        <div class="hamburger-menu" id="hamburger"><a href="#">&#9776;</a></div>
        <div class="logo-menu">HungrYo!</div>
        <div class="logo-menu">&nbsp;</div>
    </div>
    <nav id="drawer" class="drawer-menu">
        <ul class="drawer-list">
            <li class="drawer-list-item"><a href="">Home</a></li>
            <li class="drawer-list-item"><a href="#">Favorite</a></li>
            <li class="drawer-list-item"><a target="_blank" href="http://nerufuyo.me/">About Us</a></li>
        </ul>
    </nav>
    <!-- Desktop Navigation -->
    <nav class="desktop-navigation">
        <a class="desktop-logo" href="">HungrYo!</a>
        <ul class="navigation-list">
            <li class="navigation-tems"><a href="">Home</a></li>
            <li class="navigation-tems"><a href="#">Favorite</a></li>
            <li class="navigation-tems"><a target="_blank" href="http://nerufuyo.me/">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="container">
            <h1 class="hero-title">HungrYo</h1>
            <p class="hero-description">Let's find many restaurant in here!</p>
        </div>
    </div>
    <!-- Content -->
    <main id="content">
        <section class="content-container">
            <div class="main-content">
                <h1>Famous Restaurant</h1>
                <div class="content-list"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright ©2021 - nerufuyo</p>
    </footer>
</body>
</html>